:local(.article){
  width: 80%;
  max-width: 1600px;
  margin: 2px auto;
  .title{
    width: 100%;
    overflow: hidden;
    font-size: 2rem;
  }
  .content {
    width: 100%;
    line-height: 1.2rem;
    font-size: 1rem;
  }
  time {
    font-size: .8rem;
    color: #ccc;
  }
}
