@import '../../public/stylesheets/index.scss';
$titleHeight: 60px;
$minImgHeight: 520px;
:local(.rectangle) {
  width: 80%;
  margin: 2px auto;
  position: relative;
  min-height: $minImgHeight
}

:local(.title) {
  position: absolute;
  width: 98%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
  color: rgb(255, 255, 255);
  line-height: $titleHeight;
  font-size: 1.6rem;
  padding-left: 2%;
}

:local(.img) {
  width: 100%;
}

:local(.fadein) {}
