@import '../../public/stylesheets/index.scss';

$titleHeight: 60px;
$minImgHeight: 520px;
:local(.rectangle) {
  width: 80%;
  margin:-3px auto;
  position: relative;
  padding: 0;
  &:hover {
    :local(.title) {
      transform: translateY(0);
      opacity: 1;
      z-index: 2;
    }
  }
  animation: moveToTop .6s ease;
}

:local(.title) {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 3px;
  background: linear-gradient(to bottom, transparent, #333);
  color: rgb(255, 255, 255);
  line-height: $titleHeight;
  font-size: 1.6rem;
  padding-left: 2rem;
  opacity: 0;
  z-index: -1;
  transform: translateY(40px);
  transition: all .4s ease;
}

:local(.img) {
  width: 100%;
}

:local(.fadein) {}
