@import '../../public/stylesheets/index.scss';

$height: 256px;
$navHeight: 60px;
$fontColor: rgba(255,255,255,1);
:local(.header) {
  position: relative;
  width: 100%;
  height: $height;
  background: $blue;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  z-index: 2333;
}

:local(.ahbing) {
  font-size: 1.2rem;
  color: $fontColor;
  text-decoration: none;
  opacity: 0;
  transition:all .4s ease;
}

:local(.topic){
  position: absolute;
  opacity: 1;
  color: $fontColor;
  font-size: 3rem;
  left: 5%;
  top: $height/100*65;
  transition:all .4s ease;
}
:local(.navBox) {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: $navHeight;
  padding: 0 5%;
  background: $blue;
  > a {
    display: inline-block;
    height: $navHeight;
    padding: 0 4px;
    line-height: $navHeight;
    img {
      vertical-align: middle;
    }
  }
}
:local(.navList) {
  float: right;
  li{
    float: left;
    position: relative;
    line-height: $navHeight;
    padding: 0 10px;
    letter-spacing: 2px;
  }
  a {
    display: inline-block;
    color: $fontColor;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    &:hover{
      &:after{
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: $fontColor;
      left: 0;
      bottom: 0;
      opacity: .8
      }
    }
  }
  .currentLi {
    a {
      &:after{
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background: $fontColor;
        left: 0;
        bottom: 0;
        opacity: .8
      }
    }
  }
}

:local(.fix_navBox) {
  position: fixed;
  z-index: 2333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}
:local(.fix_topic) {
  opacity: 0;
  // transform: translateY(-20px);
}
:local(.fix_ahbing) {
  opacity: 1;
}
